*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: black;
    color: white;
    height:30px;
    padding:10px;
    margin: 0px 10px;
}

h2{
    background-color: purple;
    text-align: center;
    margin:10px;
    height: 30px;
    padding: 10px;
    font-style: italic;
    color:white;
}

h3 {
    text-align: right;
    background-color: blue;
    color: black;
    padding:10px;
    height: 30px;
    margin: 0px 10px;
    text-decoration: none;
}

